.wp-block-mindspun-buttons {
}

.wp-block-mindspun-buttons--controls, .wp-block-mindspun-button--controls {
    .mrblx--tabbed-control {
        border-top: 1px solid #ccc;

        .mrblx--tabbed-header .mrblx--tab button.has-icon {
            height: 72px;
            display: flex;
            flex-direction: column;
        }
    }
}
