.wpx--custom-css-control, .wpx--custom-css-control--modal {
    small {
        margin: 1em 0;
        display: block;
    }

    .CodeMirror {
        border: 1px solid #eee;
        height: auto;
    }
}