@import "../../scss/variables";

.wpx--container-control {
    border: none;
    border-top: 1px solid $light-gray;
    margin-top: -1px;

    h2, h3 {
        display: block;
        font-size: inherit;
        margin-bottom: 0;
        margin-top: 0;
        padding: 0;
        transition: background .1s ease-in-out;
    }

    h2:hover, h3:hover {
        background: #f0f0f0;
        border: none;
    }

    .components-button {
        box-sizing: border-box;
        border: none;
        box-shadow: none;
        color: #1e1e1e;
        font-weight: 500;
        height: auto;
        outline: none;
        padding: 16px 48px 16px 16px;
        position: relative;
        text-align: left;
        transition: background .1s ease-in-out;
        width: 100%;

        svg {
            fill: currentColor;
            color: #1e1e1e;
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            transition: color .1s ease-in-out;
            margin-right: 0 !important;
        }
    }

    .components-button.has-icon.has-text {
        padding-left: 16px;
    }

    .components-button:focus:not(:disabled) {
        border-radius: 0;
        box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus) var(--wp-components-color-accent, var(--wp-admin-theme-color, #007cba));
    }

    svg {
        width: 24px;
        height: 24px;
    }
}