

$aligns: left, center, right;

@each $align in $aligns {
    .wpx--block-align-#{$align} {
        display: flex;
        flex-direction: row;
        justify-content: #{$align};

        & > * {
            flex: 0 1 auto;
        }
    }
}

.wpx--block-align-full {
    display: flex;

    & > * {
        flex: 1 1 0;
    }
}

.wpx--block-align-wide {
    display: flex;

    & > * {
        flex: 1 1 auto;
    }
}

@media (max-width: 1024px) {
    @each $align in $aligns {
        .wpx--tablet-block-align-#{$align} {
            display: flex;
            flex-direction: row;
            justify-content: #{$align};

            & > * {
                flex: 0 1 auto;
            }
        }
    }

    .wpx--tablet-block-align-full {
        display: flex;

        & > * {
            flex: 1 1 0;
        }
    }

    .wpx--tablet-block-align-wide {
        display: flex;

        & > * {
            flex: 1 1 auto;
        }
    }
}

@media (max-width: 480px) {
    @each $align in $aligns {
        .wpx--mobile-block-align-#{$align} {
            display: flex;
            flex-direction: row;
            justify-content: #{$align};

            & > * {
                flex: 0 1 auto;
            }
        }
    }

    .wpx--mobile-block-align-full {
        display: flex;

        & > * {
            flex: 1 1 0;
        }
    }

    .wpx--mobile-block-align-wide {
        display: flex;

        & > * {
            flex: 1 1 auto;
        }
    }
}