.mrblx--color-display {
    align-items: center;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 2px;
    display: flex;
    padding: 10px;
    width: 100%;
    gap: calc(8px);
    margin-top: -1px;
}
