$red: #DF1B41;

// Keep .mrblx-label for extra specificity
.wp-block-mindspun-radio {
    &, &.wp-block {
        margin-bottom: 1em;
    }
    .mrblx-field-label {
        display: flex;

        .mrblx-required-indicator {
            color: $red;
        }
    }

    & .is-error .mrblx-field-label {
        color: $red;
    }

    .mrblx-field-label {
        font-weight: bold;
    }

    .mrblx-field-error {
        color: $red;
        font-size: smaller;
    }

    &.mrblx-label-top {
        label.mrblx-label {
            flex-direction: column;
        }
    }

    &.mrblx-label-inline {
        label.mrblx-label {
            flex-direction: row;
            align-items: center;

            & > span {
                margin-right: .25em;
            }
        }
    }

    .mrblx-radio-label {
        display: block;
    }

    input[type="radio"] {
        margin-right: .5em;
    }

    input:focus-visible {
        outline: none;
    }

    small {
        display: block;
    }
}
