.wpx--color-control {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
}

.wpx--popover {
    box-sizing: border-box;
    padding: .5em;
}

.wpx--container-contents {
    .wpx--color-control {
        margin-bottom: 0;
    }
}