.mrblx--margin-control {
    .components-range-control {
        padding-left: 6px;
        padding-right: 6px;
        margin-bottom: .5em;
    }

    .components-checkbox-control {
        margin-bottom: 8px !important;

        .components-checkbox-control__input-container {
            margin-right: 6px;
        }
    }
}