.wp-block-mindspun-form--controls {
    .mrblx--tabbed-control {
        border-top: 1px solid #ccc;

        .mrblx--tabbed-header .mrblx--tab button.has-icon {
            height: 72px;
            display: flex;
            flex-direction: column;
        }
    }
}

.wp-block-mindspun-form--controls-adv {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    .components-button {
        display: inline-block;
    }
}
