.wp-block-mindspun-form {
	input[type="submit"] {
		border: 0;
		padding: 8px 16px;
		color: white;
		background-color: #005ffe;
	}
	input[type="reset"] {
		border: 0;
		background-color: transparent;
	}
}
