/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-mindspun-button {
}

.wp-block-mindspun-button--controls {
    .wpx--tabbed-control {
        border-top: 1px solid #ccc;

        .wpx--tabbed-header .wpx--tab button.has-icon {
            height: 72px;
            display: flex;
            flex-direction: column;
        }
    }
}

/* The below styles are duplicated to make them work in the device preview iframes too. */
@import "../../../wpx/src/scss/align";
