/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-mindspun-button {
    & > .wp-element-button {
        display: inline-block;
        text-align: center;
    }

    &.variant-primary > .wp-element-button {
        color: var(--wp--preset--color--contrast, white);
        background-color: var(--wp--preset--color--primary, #005ffe);
    }

    &.variant-outline > .wp-element-button {
        border: 2px solid;
        background-color: transparent;
    }

    &.variant-link > .wp-element-button {
        border: 0;
        border-radius: 0;
        background-color: transparent;
    }
}
