/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-mindspun-image {
    width: fit-content;
    height: fit-content;

    svg {
        fill: #ccc;
        width: 250px;
        height: 250px;
    }
}

/*
 * These styles are duplicated in the editor to ensure they work in the
 * edit canvas iframe.
 */

$displays: block, none;

// Order is important so that media queries override bigger sizes.
@each $display in $displays {
    .wpx--d-#{$display} {
        display: $display !important;
    }
}

@each $display in $displays {
    @media (max-width: 1024px) {
        .wpx--d-tablet-#{$display} {
            display: $display !important;
        }
    }
}

@each $display in $displays {
    @media (max-width: 480px) {
        .wpx--d-mobile-#{$display} {
            display: $display !important;
        }
    }
}
