.wp-block-mindspun-field--controls {
    .mrblx--tabbed-control {
        border-top: 1px solid #ccc;

        .mrblx--tabbed-header .mrblx--tab button.has-icon {
            height: 72px;
            display: flex;
            flex-direction: column;
        }
    }

    .components-radio-control {
        .components-v-stack {
            margin: 8px 0;
        }
    }
}