$red: #DF1B41;

// Keep .mrblx-label for extra specificity
.wp-block-mindspun-field {
    &, &.wp-block {
        margin-bottom: 1em;
    }
    label.mrblx-label {
        display: flex;

        .mrblx-required-indicator {
            color: $red;
        }
    }

    & label.mrblx-label.is-error {
        color: $red;
    }

    .mrblx-field-error {
        color: $red;
        font-size: smaller;
    }

    &.mrblx-label-top {
        label.mrblx-label {
            flex-direction: column;
        }
    }

    &.mrblx-label-inline {
        label.mrblx-label {
            flex-direction: row;
            align-items: center;

            & > span {
                margin-right: .25em;
            }
        }
    }

    input:focus-visible {
        outline: none;
    }
}
