.mrblx--table-editor {

    .mrblx--selectable-column {
        button {
            background-color: transparent;
            border: none;
            padding: 0;
            margin: 0;
            min-width: 0;
        }
    }
}