@import "../../scss/variables";

.wpx--container-contents {
    display: grid;
    padding: 1em;

    & > *, & > .components-base-control {
        margin-bottom: 1em;
    }

    hr {
        margin: 0 0 1em 0;
    }
}

.wpx--container-contents + .wpx--container-contents {
    padding-top: 0;
}

.wpx--divider {
    background-color: $light-gray;
    height: 1em;
}
