@import "../../scss/variables";

.wpx--tabbed-control {
    border-top: 1px solid $light-gray;

    .wpx--tabbed-header {
        display: flex;

        .wpx--tab {
            display: flex;
            flex-grow: 1;
            justify-content: center;
            align-items: center;
            background-color: $light-gray;

            .components-button {
                width: 100%;
                justify-content: center;

                svg {
                    max-height: 100%;
                }

                .dashicon {
                    font-size: 16px;
                }
            }

            .components-button:focus:not(:disabled) {
                box-shadow: none;
                outline: none;
            }

            &.wpx--tab-active {
                background-color: white;
                box-shadow: inset 0 -3px 0 0 $blue;
            }
        }
    }
}