.wp-block-mindspun-tabs {
    .mrblx--tab:not(.mrblx--tab--active):hover {
        color: #005ffe;
    }
}

.wp-block-mindspun-tab--controls {
    .mrblx--tab-controls {
        display: flex;
        flex-direction: column;
        padding: 10px;

        input[type="text"] {
            width: 100%;
        }
    }
}