/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
$border: 1px solid #ccc;

.wp-block-mindspun-tabs {
    .wpx--tabs {
        position: relative;
        display: flex;
        margin: 0;
        padding: 0;
        background-color: #e8e8e8;
        border-top: $border;
        border-left: $border;
        border-right: $border;
        border-radius: 0;
        z-index: 1;  // Keep above content

        @media (max-width: 480px) {
            &.stack-on-mobile {
                flex-direction: column;
                border: $border;

                .wpx--tab:not(:last-of-type) {
                    border-bottom: $border;
                }
            }
        }

        .wpx--tab {
            list-style: none;
            display: flex;
            flex: 1 1 0;
            align-items: center;
            justify-content: center;
            color: #000;
            padding: .5em;
            margin: 0;
            border-radius: 0;

            &:not(:last-of-type) {
                border-right: $border;
            }

            button {
                color: inherit;
                background: none;
                border: none;
                font-size: inherit;
                cursor: inherit;
                text-align: inherit;
            }
        }

        .wpx--tab--active {
            color: #005ffe;
            background-color: #fff;
        }

        .wpx--tab:not(.wpx--tab--active) {
            cursor: pointer;
        }
    }

    .wp-block-mindspun-tab {
        border-top: 0;
        border-bottom: $border;
        border-left: $border;
        border-right: $border;
        display: none;
        padding: 1em;
    }

    .wpx--tab-panel--active {
        display: block !important;
    }
}

