

$aligns: left, center, right;

@each $align in $aligns {
    .mrblx--block-align-#{$align} {
        display: flex !important;
        flex-direction: row !important;
        justify-content: #{$align} !important;

        & > * {
            flex: 0 1 auto !important;
        }
    }
}

.mrblx--block-align-full {
    display: flex !important;

    & > * {
        flex: 1 1 0 !important;
    }
}

.mrblx--block-align-wide {
    display: flex !important;

    & > * {
        flex: 1 1 auto !important;
    }
}

@media (max-width: 1024px) {
    @each $align in $aligns {
        .mrblx--tablet-block-align-#{$align} {
            display: flex !important;
            flex-direction: row !important;
            justify-content: #{$align} !important;

            & > * {
                flex: 0 1 auto !important;
            }
        }
    }

    .mrblx--tablet-block-align-full {
        display: flex !important;

        & > * {
            flex: 1 1 0 !important;
        }
    }

    .mrblx--tablet-block-align-wide {
        display: flex !important;

        & > * {
            flex: 1 1 auto !important;
        }
    }
}

@media (max-width: 480px) {
    @each $align in $aligns {
        .mrblx--mobile-block-align-#{$align} {
            display: flex !important;
            flex-direction: row !important;
            justify-content: #{$align} !important;

            & > * {
                flex: 0 1 auto !important;
            }
        }
    }

    .mrblx--mobile-block-align-full {
        display: flex !important;

        & > * {
            flex: 1 1 0 !important;
        }
    }

    .mrblx--mobile-block-align-wide {
        display: flex !important;

        & > * {
            flex: 1 1 auto !important;
        }
    }
}