$displays: block, flex, inline, inline-block, inline-flex, none;

// Order is important so that media queries override bigger sizes.
@each $display in $displays {
    .mrblx--d-#{$display} {
        display: $display !important;
    }
}

@media (max-width: 1024px) {
    @each $display in $displays {
        .mrblx--d-tablet-#{$display} {
            display: $display !important;
        }
    }
}

@media (max-width: 480px) {
    @each $display in $displays {
        .mrblx--d-mobile-#{$display} {
            display: $display !important;
        }
    }
}
