.wpx--background-image-control {
    .wpx--media-control {
        .block-editor-media-placeholder {
            margin-bottom: .5em;
        }
        .wpx--filename {
            margin: 1em 0;
        }
    }

    .components-form-toggle {
        margin: .5em 0;
    }
}