/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-mindspun-container {
}

.wp-block-mindspun-container--controls {
    .wpx--tabbed-control .wpx--tabbed-header .wpx--tab button {
        height: 72px;
        display: flex;
        flex-direction: column;
    }
}
