.mrblx--media-control {
    small {
        margin-top: 4px;
    }

    .block-editor-media-placeholder {
        margin-bottom: 1em;
    }

    .mrblx--filename {
        font-family: monospace;
        margin-bottom: 1em;
    }

    .components-placeholder__fieldset {
        position: relative;

        /* Upload button container */
        .components-form-file-upload {
            .components-button {
                margin-bottom: 0;
            }
        }

        /* Media library button */
        .components-button.is-tertiary {
            width: fit-content;
            margin-right: 0;
        }
    }
}
